 <style>

.thirteen h1 {

  position: relative;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  width: 215px;
  text-align: center;
  margin: auto;
  white-space: nowrap;
  border: 2px solid #dbdbdb;
  color: #dbdbdb;
  padding: 5px 11px 3px 11px;
  border-radius: 3px;

}

.thirteen h1:before, .thirteen h1:after {

    background-color:transparent;
    color: #dbdbdb;
    position: absolute;
    font-family: "untitled-font-1";
    content: '\e42c';
    height: 20px;
    width: 20px;
    bottom: 8px;
    line-height: 20px;
    font-size: 15px;

}

.thirteen h1:before {
   left:-30px;
}

.thirteen h1:after {
   right:-30px;
}

.box-formulario {

    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #cdcdcd;
    padding:60px 0;
    border-radius: 10px;

}

.formulario {

    width: 700px;
    background: #cdcdcd;
    padding: 60px 5%;
    text-align: center;

}


.formulario span {
  position: relative;
  display: flex;
  margin: 45px 10px;

}

/*input Animado*/

.input-swing-down {

  display: inline-block;
  width: 100%;
  height: 41px;
  padding: 10px 0 10px 70px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  font-size: 1em;
  color: #575F60;
  background: #dbdbdb;
  border: 0;
  border-radius: 3px;
  outline: 0;
  transition: all .3s ease-in-out;

}

.input-swing-down::-webkit-input-placeholder {

  color: #575f60;
  font-weight: 300;

}

.input-swing-down + label {

  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 22px;
  text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
  background: #8f9b9c;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  transform-origin: 2px 2px;
  transform: rotate(0);
  animation: swing-back .4s 1 ease-in-out;

}

@keyframes swing {
  0% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(116deg);
  }
  40% {
    transform: rotate(60deg);
  }
  60% {
    transform: rotate(98deg);
  }
  80% {
    transform: rotate(76deg);
  }
  100% {
    transform: rotate(80deg);
  }
}
@keyframes swing-back {
  0% {
    transform: rotate(82deg);
  }
  100% {
    transform: rotate(0);
  }
}

.input-swing-down:focus,
.input-swing-down:active {

  color: #000000;
  padding: 10px 0 10px 30px;  
  background: #fff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

}

.input-swing-down:focus::-webkit-input-placeholder,
.input-swing-down:active::-webkit-input-placeholder {

  color: #aaa;

}

.input-swing-down:focus + label,
.input-swing-down:active + label {

  animation: swing 1.4s 1 ease-in-out;
  transform: rotate(80deg);
  color: #fff;

}


/*TextArea*/

.textarea-swing-down {

  display: inline-block;
  width: 100%;
  height: 78px;
  padding: 10px 0 10px 70px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  font-size: 1em;
  resize: none;
  color: #575F60;
  background: #dbdbdb;
  border: 0;
  border-radius: 3px;
  outline: 0;
  transition: all .3s ease-in-out;

}

.textarea-swing-down::-webkit-input-placeholder {

  color: #575f60;
  font-weight: 300;

}

.textarea-swing-down + label {

  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 22px;
  height: 78px;
  line-height: 60px;
  text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
  background: #8f9b9c;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  transform-origin: 2px 2px;
  transform: rotate(0);
  animation: swing-back .4s 1 ease-in-out;

}

@keyframes swing {
  0% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(116deg);
  }
  40% {
    transform: rotate(60deg);
  }
  60% {
    transform: rotate(98deg);
  }
  80% {
    transform: rotate(76deg);
  }
  100% {
    transform: rotate(80deg);
  }
}
@keyframes swing-back {
  0% {
    transform: rotate(82deg);
  }
  100% {
    transform: rotate(0);
  }
}

.textarea-swing-down:focus,
.textarea-swing-down:active {

  color: #000000;
  padding: 10px 0 10px 30px;  
  background: #fff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

}

.textarea-swing-down:focus::-webkit-input-placeholder,
.textarea-swing-down:active::-webkit-input-placeholder {

  color: #aaa;

}

.textarea-swing-down:focus + label,
.textarea-swing-down:active + label {

  animation: swing 1.4s 1 ease-in-out;
  transform: rotate(80deg);
  color: #fff;

}

/*Botão*/
.box-btn { 

 width: 100%;
 padding: 0 10px;
 float: left;

}


.btn-3d {

  top: 0;
  left: 0;
  transition: all 0.15s linear 0s;
  display: block;
  margin: auto;
  width: 200px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  background-color: #8F9B9C;
  color: #090B0B;
  letter-spacing: 2px;
  box-shadow: -6px 6px 0 #393939;
  text-decoration: none;

}

.btn-3d:hover {
  top: 3px;
  left: -3px;
  box-shadow: -3px 3px 0 #393939;
}
.btn-3d:hover::after {
  top: 1px;
  left: -2px;
  width: 4px;
  height: 4px;
}
.btn-3d:hover::before {
  bottom: -2px;
  right: 1px;
  width: 4px;
  height: 4px;
}
.btn-3d::after {
  transition: all 0.15s linear 0s;
  content: "";
  position: absolute;
  top: 2px;
  left: -4px;
  width: 8px;
  height: 8px;
  background-color: #404040;
  transform: rotate(45deg);
  z-index: 1;
}
.btn-3d::before {
  transition: all 0.15s linear 0s;
  content: "";
  position: absolute;
  bottom: -4px;
  right: 2px;
  width: 8px;
  height: 8px;
  background-color: #404040;
  transform: rotate(45deg);
  z-index: 1;
}

.btn-3d {
  position: relative;
}

button:active.btn-3d {

  top: 6px;
  left: -6px;
  box-shadow: none;

}

button:active.btn-3d:before {
  bottom: 1px;
  right: 1px;
}
button:active.btn-3d:after {
  top: 1px;
  left: 1px;
}
button.btn-3d i { 

  display: block;
  background:#8F9B9C;
  font-family: 'open_sansregular';
  padding: 15px;
  z-index: 2;
  position: inherit;
  font-style: normal; 
  
}.title-form h1 {

  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.5em;
  padding-bottom: 15px;
  position: relative;
  text-align: left;
  color: #4c4e4e;
  font-family: 'open_sansbold';
  margin-left: 10px;
  margin-bottom: 35px;

}

.title-form h1:before {

  content: "";
  position: absolute;
  left: 0;
  bottom: 3px;
  height: 5px;
  width: 55px;
  background-color: #4c4e4e;

}

.title-form h1:after {

  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  height: 1px;
  width: 98%;
  background-color: #4c4e4e;

}

.box-formulario {

    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #dedede;
    padding:60px 0;

}

.formulario {

    width: 700px;
    background: #dedede;
    padding: 60px 5%;
    text-align: center;

}


.formulario span {
  position: relative;
  display: flex;
  margin: 15px 10px;

}

/*input Animado*/

.input-slide {

  position: relative;
  display: inline-block;
  width: 100%;
  padding: 10px 0 10px 75px;
  font-family: "Open Sans", sans;
  font-size: 23px;
  font-weight: 400;
  color: #d2d2d2;
  background: #ffffff;
  border: 0;
  border-radius: 3px;
  outline: 0;
  transition: all .3s ease-in-out;

}

.input-slide::-webkit-input-placeholder {

  color: #4c4e4e;
  font-weight: 300;

}

.input-slide + label {

  display: inline-block;
  position: absolute;
  transform: translateX(0);
  top: 0;
  left: 0;
  bottom: 0;
  padding: 7px 12px;
  font-size: 33px;
  font-weight: 700;
  text-transform: uppercase;
  border-right: 1px #454545 solid;
  background: transparent;
  color: #d2d2d2;
  text-align: left;
  transition: all .3s ease-in-out, color .3s ease-out;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  overflow: hidden;

}

.input-slide + label:after {

  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 0;
  width: 100%;
  background: #4c4e4e;
  z-index: -1;
  transform: translate(0);
  transition: all .3s ease-in-out;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;

}

.input-slide:focus,
.input-slidev:active {
  
  color: #4c4e4e;
  background: #fff;
  padding: 10px 0 10px 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

}

.input-slide:focus::-webkit-input-placeholder,
.input-slide:active::-webkit-input-placeholder {

  color: #aaa;

}

.input-slide:focus + label,
.input-slide:active + label {

  color: #fff;
  transform: translateX(-100%);

}

.input-slide:focus + label:after,
.input-slide:active + label:after {
  
  background: #4c4e4e;
  transform: translate(100%);

}

/*TextArea*/

.textarea-slide {

  position: relative;
  display: inline-block;
  width: 100%;
  padding: 10px 0 10px 75px;
  font-family: "Open Sans", sans;
  font-size: 23px;
  font-weight: 400;
  color: #d2d2d2;
  background: #ffffff;
  border: 0;
  resize: none;
  border-radius: 3px;
  outline: 0;
  transition: all .3s ease-in-out;

}

.textarea-slide::-webkit-input-placeholder {

  color: #4c4e4e;
  font-weight: 300;

}

.textarea-slide + label {

  display: inline-block;
  position: absolute;
  transform: translateX(0);
  top: 0;
  left: 0;
  bottom: 0;
  padding: 7px 12px;
  font-size: 33px;
  font-weight: 700;
  text-transform: uppercase;
  border-right: 1px #454545 solid;
  background: transparent;
  color: #d2d2d2;
  text-align: left;
  transition: all .3s ease-in-out, color .3s ease-out;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  overflow: hidden;

}

.textarea-slide + label:after {

  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 0;
  width: 100%;
  background: #4c4e4e;
  z-index: -1;
  transform: translate(0);
  transition: all .3s ease-in-out;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;

}

.textarea-slide:focus,
.textarea-slide:active {
  
  color: #4c4e4e;
  background: #fff;
  padding: 10px 0 10px 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

}

.textarea-slide:focus::-webkit-input-placeholder,
.textarea-slide:active::-webkit-input-placeholder {

  color: #aaa;

}

.textarea-slide:focus + label,
.textarea-slide:active + label {

  color: #fff;
  transform: translateX(-100%);

}

.textarea-slide:focus + label:after,
.textarea-slide:active + label:after {
  
  background: #4c4e4e;
  transform: translate(100%);

}

/*Botão*/
.box-btn { 

 width: 100%;
 padding: 0 10px;
 float: left;

}

.btn-envia {
  
  padding: 1em 2em;
  cursor: pointer;
  border: none;
  background-color: #4c4e4e;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
  color: #fff;
  border-radius: 3px;
  width: 100%;

}

.zoom-shadow {

  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;

}

.zoom-shadow:hover, .zoom-shadow:focus, .zoom-shadow:active {
  
  box-shadow: 0 13px 8px -8px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);

}